[submodule "Hulia/third_party/spdlog"]
	path = Hulia/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hulia/third_party/GLFW"]
	path = Hulia/third_party/GLFW
	url = https://github.com/michalshy/glfw
